{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Hypnos - Administration</h1>
        <p class="lead">Bivenue dans l'espace de gestion d'Hypnos </p>
    </div>

{% endblock %}